.wrapper {
  max-height: 500px;
  height: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  overflow: auto;
  margin-bottom: 16px;
  padding: 8px 0;
}

.message {
  padding: 2px 0;
}
