.wrapper {
  height: 100%;
  overflow: hidden;
  flex: 1;
  background-color: var(--color-chat-background);
  border-radius: 8px;
  padding: 16px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  position: relative;
  margin-bottom: 16px;
}

.message_wrapper {
  position: relative;
}

.undoButton {
  position: absolute;
  top: 4px;
  right: 0;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.undoButton:hover {
  transform: scale(1.1);
}

.messages {
  flex: 1;
  overflow: auto;
  padding: 8px 0;
}

.message {
  padding: 2px 0;
  display: flex;
  gap: 4px;
}

.message__important {
  font-weight: bold;
  font-size: 24px;
  color: var(--color-red);
}

.message :global(.anticon) {
  margin-right: 4px;
}

.divider:before {
  display: none;
}

.divider :global(.ant-divider-inner-text) {
  padding-left: 0 !important;
  font-weight: 900;
}
