.modal_title {
    margin-top: 0;
}

.player {
    display: flex;
    gap: 16px;
}

.player_name {
    font-weight: bold;
    margin-top: 8px;
    width: 100px;
    min-width: 100px;
}

.planechase_selection_title {
    margin: 16px 0  8px;
    font-weight: bold;
}

.info_text {
    margin-top: 32px;
    color: var(--text-secondary);
    font-style: italic;
}

.form {
    margin-top: 8px;
}