.wrapper {
  gap: 8px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, 1fr);
}

.command_zone {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.command_zone_card {
  flex: 1;
  width: 100%;
  max-width: 150px;
  position: relative;
  aspect-ratio: var(--card-aspect-ratio);
  overflow: hidden;
}

.command_zone__partners .command_zone_card {
  overflow: hidden;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--player-color);
}

.card:hover  {
  z-index: 3;
}


/* Overlay */

.commander_casted {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  font-size: 18px;
  color: var(--color-text-light);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 16px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 1;
}

.commander_casted:last-child {
  opacity: 1;
  height: 100%;
}

.card:hover .commander_casted {
  opacity: 1;
}

.commander_casted_buttons {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 22px;
  user-select: none;
}

.commander_casted_button:hover {
  transform: scale(1.1);
}

.commander_casted_button:active {
  color: rgba(255, 255, 255, 0.8);
}

/* Partners */
.command_zone__partners .card {
  height: 50%;
  transition: height 0.2s ease-in-out;

  .commander_casted {
    height: 100%;
  }
}

.command_zone__partners .card:nth-child(2):has(:global(.card)):hover {
  height: 100%;
  

  .commander_casted {
    height: 50%;
  }
  .commander_casted_button {
    transition: transform 0.2s ease-in-out;
  }
}

.command_zone__partners .card:nth-child(3) :global(.card) {
  transition: transform 0.2s ease-in-out;
}

.command_zone__partners .card:nth-child(3):hover :global(.card) {
  transform: translateY(-50%);
}

.player_name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  filter: brightness(1.3);
  max-width: 100%;
  text-align: center;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  
  color: var(--player-color);
  padding: 0px;
  margin: 8px;
}

.player_name__active {
  filter: brightness(1);
  background-color: var(--player-color);
  color: var(--color-text-light);
  padding: 8px;
  margin: 0px;
}