.card {
    position: absolute;
    top: calc(var(--y) * 1%);
    left: calc(var(--x) * 1%);
    transform: translate(-50%, -50%);
    transition: transform 0.2s;
    transform-origin: 50% 60%;
    z-index: 100;
    user-select: none;
  }

  .card__flipped {
    transform-origin: 50% 40%;
  }
    
  .card__rotation {
    transform: translate(-50%, -50%) rotate(var(--rotation));
  }
  
  .card_rotation {
    transform: rotate(var(--rotation, 0deg));
  }
  
  .card__hovered {
    border: 3px dashed var(--color-primary);
  }
  
  .card__hovered_by_enemy::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    box-shadow: 0 0 5px 5px var(--hovering-player-color);
    animation: grow 1.3s;
    opacity: 0;
  }
  
  .card__selected {
    border: 3px solid var(--color-primary);
  }
  
  :global(.transformed) .card {
    top: calc((100 - var(--y)) * 1%);
    left: calc((100 - var(--x)) * 1%);
    transform-origin: 50% 40%;
  }
  
  :global(.transformed) .card img {
    transform: rotate(180deg);
  }


  @keyframes grow {
    0% {
      box-shadow: 0 0 0px 0px var(--hovering-player-color);
      opacity: 1;
    }
    80% {
      box-shadow: 0 0 13px 13px var(--hovering-player-color);
    }
    100% {
      box-shadow: 0 0 15px 15px var(--hovering-player-color);
      opacity: 0;
    }
  }
  
  