.card {
    position: absolute;
    top: calc(var(--y) * 1%);
    left: calc(var(--x) * 1%);
    transform: translate(-50%, -50%);
    transition: transform 0.2s;
    transform-origin: 50% 60%;
    z-index: 100;
    user-select: none;
  }
    
  .card__rotation {
    transform: translate(-50%, -50%) rotate(var(--rotation));
  }
  
  .card_rotation {
    transform: rotate(var(--rotation, 0deg));
  }
  
  .card__hovered {
    border: 3px dashed var(--color-primary);
  }
  
  .card__selected {
    border: 3px solid var(--color-primary);
  }
  
  :global(.transformed) .card {
    top: calc((100 - var(--y)) * 1%);
    left: calc((100 - var(--x)) * 1%);
    transform-origin: 50% 40%;
  }
  
  :global(.transformed) .card img {
    transform: rotate(180deg);
  }
  