# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/*/node_modules
/.pnp
.pnp.js

# testing
/coverage

# build
/frontend/build
/backend/dist

# credentials
/backend/.env*
!/backend/.env.example
/clash/.env*
/frontend/.env

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/backend/logs

# scryfall and mkm data
/backend/src/cardApi/*/*.json

# card images
/backend/images

# clash
/clash/.next
/clash/tsconfig.tsbuildinfo
