.browser {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.title_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: var(--color-text-light);
  background: linear-gradient(90deg, var(--color-primary) 0%, color-mix(in srgb, var(--color-primary) 60%, transparent) 100%);
}

.title {
  margin: 0;
}

.inner {
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
}