.wrapper {
  display: flex;
  color: white;
  width: 100%;
  justify-content: space-between;
  text-align: center;
}

.player {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 50%;
  gap: 8px;
}

.life:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;

  background-color: var(--player-color);
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.player__active .life:before {
  height: 80px;
  width: 80px;
}

.life {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  
  border-radius: 50%;

  &.life * {
    z-index: 0;
  }
}

.buttons {
  margin: 0 16px;
  position: absolute;
  display: flex;
  width: calc(100% - 16px);
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  user-select: none;
}

.buttons:hover {
  opacity: 1;
}

.buttons :global(.anticon)  {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.buttons :global(.anticon) :global(svg)  {
  transition: transform 0.2s ease-in-out;
}

.buttons :global(.anticon):hover :global(svg)  {
  transform: scale(1.4);
}

.buttons :global(.anticon):active :global(svg)  {
  transform: scale(1.2);
}