.card {
    border-color: var(--color-primary);
}

.player {
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: center;
}

.playerNr {
    font-weight: 600;
}

.avatar {
    width: 32px;
    border-radius: 50%;
}

.fallback_avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #9f9f9f;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}