.title {
    display: flex;
    align-items: center;
    gap: 16px;
}

.body {
    padding: 16px;
}

.players {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.player {
    list-style: none;
}

.planechase_sets {
    margin-top: 16px;
}

.planechase_sets_label {
    font-weight: 600;
}

.planechase_more_sets {
    color: var(--color-primary);
    cursor: help;
}

.planechase_more_and {
    margin-left: -3px;
}

.start_overlay_visible {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-overlay);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-light);
    font-size: 24px;
    pointer-events: none;
}

.start_overlay_hidden {
    display: none;
}

@keyframes animateDots {
    0% {
        content: " "
    }
    30% {
        content: "."
    }
    50% {
        content: ".."
    }
    70% {
        content: "..."
    }
    100% {
        content: "..."
    }
}

.start_overlay_text {
    width: 170px;
    white-space: nowrap;
}

.start_overlay_text::after {
    animation: animateDots 2.5s infinite;
    content: "...";
}