.wrapper {
  flex: 1;
  width: 100%;
  padding: 4px;
  align-self: flex-start;
  position: relative;
  container: sidebar / inline-size;

  --size-card-width: 7cqh;
  --size-card-padding: 0.07cqw;
}

.card {
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
}

:global(.flipped) .card img {
  transform: rotate(180deg);
}
