.wrapper {
  height: 75%;
  width: 100%;
  padding: 4px;
  align-self: flex-start;
  position: relative;
  container: sidebar / inline-size;

  --size-card-width: 7cqw;
  --size-card-padding: 0.07cqw;
}

.card {
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
}
