.card {
  padding: var(--size-card-padding);
  display: flex;
  border: 1px solid black;
  background-color: var(--player-color);
  width: var(--size-card-width);
  aspect-ratio: var(--card-aspect-ratio);
  justify-content: center;
  align-items: center;
  position: relative;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.card__dynamic_size {
  width: auto;
  border: unset;
}

.card__draggable {
  cursor: grab;
}


.card__dragging {
  opacity: 0.01;
  transform-style: unset;
  backface-visibility: unset;
}

:global(.add_backside).card::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 4%;
  background-color: var(--player-color);
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.image {
  width: 100%;
  border-radius: 4%;
  pointer-events: none;
}

.card__draggable .image {
  pointer-events: all;
}
