.wrapper {
  width: var(--size-card-width);
  height: var(--size-card-height);
  padding: var(--size-card-padding);
  border: 1px solid black;
  background-color: var(--player-color);
}

.image {
  width: 100%;
  border-radius: 12px;
}
