.wrapper {
    width: 100%;
    height: 100%;
}

.self {
    position: fixed;
    width: 100%;
    height: 20%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}


.opponent .interface  {
    top: 0%;
    bottom: unset;
    transform: rotate(180deg) scale(var(--scale));
    transform-origin: calc(var(--origin-offset-x) * 1%) calc(var(--origin-offset-y) * 1%);
}

.interface {
    width: 100vw;
    height: 20%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}