.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  --menu-width: 500px;
}

/* one player */
.wrapper:has(> :last-child:nth-child(2)) {
  grid-template-columns: 1fr var(--menu-width);
  grid-template-areas: 
    'player1 menu'
}

/* two players */
.wrapper:has(> :last-child:nth-child(3)) {
  grid-template-columns: 1fr var(--menu-width);
  grid-template-areas: 
    'player1 menu'
    'player2 menu';
}

/* three players */
.wrapper:has(> :last-child:nth-child(4)) {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    'player1 player2'
    'player3 menu';
}

/* four players */
.wrapper:has(> :last-child:nth-child(5)) {
  grid-template-columns: 1fr 1fr var(--menu-width);
  grid-template-areas: 
    'player1 player2 menu'
    'player4 player3 menu';
}


.self {
  position: fixed;
  width: 100%;
  height: 20%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}


/* single interface */
.interface_wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

:global(.flipped) .interface_wrapper {
  flex-direction: column-reverse;
}

.interface {
  width: 100%;
  padding: 0 16px;
  display: grid;
  container: interface / inline-size;
  grid-template-columns: 110px 110px auto 6cqw;
  grid-template-areas: 'graveyard library hand .';
}

:global(.flipped) .interface {
  grid-template-columns: 6cqw auto 110px 110px;
  grid-template-areas: '. hand library graveyard';
}