.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.self {
  position: fixed;
  width: 100%;
  height: 20%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.opponents {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.opponent {
  flex: 1;
}

/* single interface */

.opponent .interface_wrapper {
  align-items: flex-start;
}

.interface_wrapper {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.interface {
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 150px auto 100px;
  grid-template-areas: 'graveyard library hand';
}

.opponent .interface {
  grid-template-columns: 150px 150px auto;
  transform: rotate(180deg) scale(var(--scale));
  transform-origin: calc(var(--origin-offset-x) * 1%) calc(var(--origin-offset-y) * 1%);
}

.opponent :global(.battlefield)  {
    align-self: flex-end;
    transform: rotate(180deg);
    height: calc(var(--opponent-battlefield-height) * 1%)
}