.card_wrapper {
    position: fixed;
    top: var(--top);
    left: var(--left);
    z-index: 100;
    pointer-events: none;
    width: var(--size-card-width);
    aspect-ratio: var(--card-aspect-ratio);
}

.card_wrapper__stacked_behind {
    z-index: -1;
}

.card {
    /* same as battlefield card */
    --size-card-padding: 2px;
    /* card padding or something, not sure why this is necessary */
    transform: translateX(2px, 2px);
    z-index: -1;
}

.card__flipped {
    transform: translateX(2px, 2px) rotate(180deg);
}

.shift_tooltip {
    position: absolute;
    margin-top: 8px;
    top: 10%;
    left: 10%;
    right: 10%;
    padding: 2px;
    color: var(--color-text-light);
    text-align: center;
    font-size: 12px;
    opacity: 0.8;
    font-style: italic;
    background: rgba(0, 0, 0, 0.8);
}