.card_wrapper {
    position: fixed;
    top: var(--top);
    left: var(--left);
    /* above stack modal */
    z-index: 1003;
    pointer-events: none;
    width: var(--size-card-width);
    aspect-ratio: var(--card-aspect-ratio);
}

.card_wrapper__stacked_behind {
    z-index: -1;
}

.card_to_align {
    position: absolute;
    top: -20px;
    white-space: nowrap;
    min-width: 100%;
}

.card_tooltip {
    font-style: italic;
    color: var(--color-text-light);
    background: rgba(0, 0, 0, 0.8);
    padding: 2px;
    font-size: 12px;
    text-align: center;
}

.card {
    /* same as battlefield card */
    --size-card-padding: 2px;
    /* card padding or something, not sure why this is necessary */
    transform: translateX(2px, 2px);
    z-index: -1;
}

.card__flipped {
    transform: translateX(2px, 2px) rotate(180deg);
}

.shift_tooltip {
    position: absolute;
    margin-top: 8px;
    top: 10%;
    left: 10%;
    right: 10%;
    opacity: 0.8;
}