:root {
    --color-text: #1f1d33;
    --color-primary: #d5712d;
    --color-primary--transparent: #d5712d5c;
    --color-primary--semi-light: #e8a57a;
    --color-primary--light: #f1d3c0;
    --color-success: #196e3b;
    --color-line: #949494;
    --color-overlay: #00000080;
    --color-dropzone-border: blue;
    --color-dropzone-can-drop: #1313e624;
    --color-dropzone-is-over: #1313e65b;
    --color-menu-background: rgb(0 0 0 / 50%);
    --color-chat-background: #fff;
    --color-text-light: #fff;
    --color-active: #145bd8;
    --color-icon-light: #ffffff70;

    --size-card-base-width: 248px;
    --size-card-width: var(--size-card-base-width);
    --size-card-base-padding: 4px;
    --size-card-padding: var(--size-card-base-padding);
    
    --card-aspect-ratio: 301 / 419;

    overflow: hidden;

    /* antd fixes */
    .ant-dropdown-menu-sub {
        margin: 0;
    }
    .ant-popover-inner {
        max-width: 90vw;
    }
}
