:root {
    --color-text: #1f1d33;
    --color-primary: #d5712d;
    --color-primary--transparent: #d5712d5c;
    --color-primary--semi-light: #e8a57a;
    --color-primary--light: #f1d3c0;
    --color-success: #196e3b;
    --color-line: #949494;
    --color-overlay: #00000080;
    --color-dropzone-border: blue;
    --color-dropzone-can-drop: #1313e624;
    --color-dropzone-is-over: #1313e65b;
    --color-menu-base-background: #3b3b3b;
    --color-menu-background: var(--color-menu-base-background);
    --color-chat-background: #fff;
    --color-text-light: #fff;
    --color-active: #145bd8;
    --color-icon-light: #ffffff70;
    --color-card-align: var(--color-primary);
    --color-card-preview-background: #000000;
    --color-modal-backdrop: #00000050;
    /* --color-deck-active: #81c784;
    --color-deck-archived: #64b5f6;
    --color-deck-draft: #fff176; */

    --size-card-base-width: 248px;
    --size-card-width: var(--size-card-base-width);
    --size-card-base-padding: 4px;
    --size-card-padding: var(--size-card-base-padding);
    --size-menu-width: 500px;
    
    --card-aspect-ratio: 301 / 419;
}
