.wrapper {
    height: 100%;
}

.wrapper :global(.ant-tabs-nav) {
    padding: 0 16px;
}

.wrapper :global(.ant-tabs-tabpane),
.wrapper :global(.ant-tabs-content),
.wrapper :global(.ant-tabs) {
    height: 100%;
    width: 100%;
}

.open_games {
    height: 100%;
    padding: 0 16px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;
    padding: 0;
}

.list_item {
    list-style: none;
    width: 100%;
    border: 2px solid var(--color-primary);
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
}

.list_item:hover {
    background-color: var(--color-primary--light);
}

.list_item:active {
    background-color: var(--color-primary--semi-light);
}

.list_button {
    border: unset;
    background-color: unset;
    width: 100%;
    height: 100%;
    text-align: left;
    font-size: 16px;
    display: flex;
    cursor: pointer;
    padding: 12px;
    justify-content: space-between;
}

.empty {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}