.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: hand;
  --size-card-width: min(17cqw, 240px);
  width: 100%;
  max-width: 1280px;
  margin: 0 auto 0;
  z-index: 1;
  border: 2px solid transparent;
  user-select: none;
}

.wrapper__can_drop {
  border-color: var(--color-dropzone-border);
  border-radius: 8px;
  background: var(--color-dropzone-can-drop);
}

:global(.flipped) .wrapper {
  transform: rotate(180deg);
}


.wrapper__is_self .card {
  cursor: grab;
  transition: transform 0.1s;
}

.spacing_element {
  width: var(--size-card-width);
  aspect-ratio: var(--card-aspect-ratio);
  position: absolute;
  transform-origin: 50% 160cqw;
  transform: rotate(calc(var(--hover-rotation, var(--rotation)) * 1deg));
  border-radius: 2px;
}

.card_wrapper {
  width: fit-content;
  height: 100%;
  position: absolute;
  transform-origin: 50% 160cqw;
  transform: rotate(calc(var(--hover-rotation, var(--rotation)) * 1deg)) translateY(30px);
  border-radius: 2px;
  transition: transform 0.1s;

  --hover-rotation-scale: 1.5;

  @media (min-width: 1440px) {
    --hover-rotation-scale: 1.1;
  }

  @media (min-width: 1800px) {
    --hover-rotation-scale: 0.7;
  }

  @media (min-width: 2200px) {
    --hover-rotation-scale: 0.3;
  }

  @media (min-width: 2560px) {
    --hover-rotation-scale: 0;
  }
}

.card_wrapper:has(~ .card_wrapper__hovered) {
  --hover-rotation: calc(var(--rotation) - var(--hover-rotation-scale) - var(--additional-hover-rotation));
}

.card_wrapper__hovered ~ .card_wrapper,
.card_wrapper__hovered:not(.card_wrapper__highlighted) {
  --hover-rotation: calc(var(--rotation) + var(--hover-rotation-scale) + var(--additional-hover-rotation));
}

.card_wrapper__hovered.card_wrapper__highlighted .card {
  transform: rotate(calc(var(--rotation) * -1deg)) translateY(calc(var(--size-card-width) * -1.2)) scale(1.5);
}

.card_wrapper__hovered.card_wrapper__highlighted {
  z-index: 1;
}
