.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: hand;
  transform: translateY(5cqh);
  transition: transform 0.1s;
  --size-card-width: min(17cqw, 240px);
  height: 200%;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

:global(.flipped) .wrapper {
  transform: translateY(-10cqh);
}


.wrapper__is_self {
  cursor: grab;
}

.wrapper__is_over,
.wrapper:has(.hover_element:hover) {
  transform: translateY(-8cqw);
}

.hover_element__can_drop {
  border-radius: 8px;
  background: var(--color-dropzone-can-drop);
}

.card_wrapper {
  width: fit-content;
  height: 100%;
  position: absolute;
  transform-origin: 50% 160cqw;
  transform: rotate(calc(var(--hover-rotation, var(--rotation)) * 1deg));
  border-radius: 2px;
  transition: transform 0.1s;

  --hover-rotation-scale: 1.5;

  @media (min-width: 1440px) {
    --hover-rotation-scale: 1.1;
  }
  @media (min-width: 1800px) {
    --hover-rotation-scale: 0.7;
  }
  @media (min-width: 2200px) {
    --hover-rotation-scale: 0.3;
  }
  @media (min-width: 2560px) {
    --hover-rotation-scale: 0;
  }
}

:global(.flipped) .card_wrapper {
  transform-origin: 50% -160cqw;
}

.card_wrapper:has(~ .hover_element__is_over),
.card_wrapper:has(~ .hover_element:not(.hover_element__last):hover) {
  --hover-rotation: calc(
    var(--rotation) - var(--hover-rotation-scale) - var(--additional-hover-rotation)
  );
}

.hover_element__is_over ~ .card_wrapper,
.hover_element:hover + .card_wrapper ~ .card_wrapper {
  --hover-rotation: calc(
    var(--rotation) + var(--hover-rotation-scale) + var(--additional-hover-rotation)
  );
}

.hover_element:hover + .card_wrapper .card {
    transform: rotate(calc(var(--rotation) * -1deg)) translateY(-7cqw) scale(1.5);
}

.hover_element:hover + .card_wrapper,
.hover_element:active + .card_wrapper {
  z-index: 1;
}

.hover_element__hiddden {
  width: 0;
}

.card {
  transition: transform 0.1s;
}
.wrapper__is_self .hover_element {
  height: 100%;
  z-index: 2;
  flex: 1;
  max-width: 150px;
  user-select: none;
}

.hover_element:active {
  pointer-events: none;
}
