.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  grid-area: hand;
  transform: translateY(0%);
  transition: transform 0.1s;
  padding-top: 10%;
  /* background-color: #faaa; */
}

.wrapper:hover {
  transform: translateY(-70%);
}

.card_wrapper {
  position: absolute;
  transform-origin: 50% 150vw;
  transform: rotate(calc(var(--rotation) * 1deg)) translateY(20%);
  transition: transform 0.1s;
}

.is_self .card_wrapper:hover {
  z-index: 1;

  .card {
    /* transform: translateY(-70%) scale(1.5); */
    transform: rotate(calc(var(--rotation) * -1deg)) translateY(-70%) scale(1.2);
  }
}

.card {
  border-radius: 2px;
}

.is_self .card {
  cursor: grab;
  transition: transform 0.1s;
  border-radius: 2px;
}

.card:active {
  opacity: 0.01;
  user-select: none;
  z-index: unset !important;
  transform: unset !important;
}
