.wrapper {
    background: var(--color-menu-background);
    opacity: 1;
    width: auto;
    height: 100%;
    min-width: 400px;
    grid-area: menu;
    padding: 16px;
    box-shadow: -8px -8px 20px -6px rgba(0, 0, 0, 0.6);
}