.wrapper {
    position: absolute;
    top: 4px;
    left: 0;
    bottom: 4px;
    overflow: auto;
    color: white;
    padding: 8px;
    user-select: none;
    font-size: 14px;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.wrapper::-webkit-scrollbar {
    display: none;
  }

.counter {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px 4px;
    display: flex;
    gap: 4px;
    width: fit-content;
}

.counter:first-child {
    margin-top: calc(var(--size-card-width) * 0.09);
}


.counter_label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}