.wrapper {
  position: relative;
  grid-area: library;
  --size-card-width: calc(var(--size-card-base-width) * 0.5);
}

:global(.flipped) .wrapper {
  transform: rotate(180deg);
}

.inner {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.popover_wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
}