.grid {
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.0);
    display: none;
}

:global(.dropzone--is_over) .grid {
    display: block;
}

.grid_hidden {
    display: none !important;
}

.wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.wrapper_horizontal {
    flex-direction: column;
}

.line_horizontal {
    width: 100%;
    height: 1px;
    background-color: var(--color-grid-line);
}

.wrapper_vertical {
    flex-direction: row;
}

.line_vertical {
    height: 100%;
    width: 1px;
    background-color: var(--color-grid-line);
}