.wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.image {
    width: 45px;
    height: 32px;
    border-radius: 2px;
}

.deck_name {
    display: flex;
    flex-direction: column;
    gap: 2px;
    line-height: 1;
}

.label {
    font-size: 16px;
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.deck_owner {
    font-size: 12px;
    color: #999;
    margin-top: 2px;
}