.select {
    width: 80px;
}

.color {
    width: 36px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid var(--color-line);
}

:global(.ant-select-item) .color {
    margin: 0;
}

:global(.ant-select-selector) .color {
    margin-left: 0;
}