.wrapper {
    width: var(--size-card-width);
    aspect-ratio: var(--card-aspect-ratio);
    background: color-mix(in srgb, var(--player-color) 50%, transparent);
    border: 3px solid var(--player-color);
    border-radius: 4px;
    position: relative;
    margin: 12px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    position: absolute;
    top: 0;
    left: 0;

    transform: rotate(calc(var(--rotation) * 0.3deg));
}

.empty {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    color: #ffffff70;
    align-items: center;
    gap: 8px;
}